@using MyWebsite.Helper
@{
    ViewBag.Title = "About";
}
<h2 style="@Colors.DarkText">@ViewBag.Title.</h2>
<h3 style="@Colors.DarkText">@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
